/* Body styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

/* Header styles */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #333;
}

/* Navigation styles */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff5a5f;
}

/* Main styles */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

main section {
  width: 75%;
}

main section h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

main article {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

main article h3 {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  color: #333;
}

main article p {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

main article a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff5a5f;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

main article a:hover {
  background-color: #ff4247;
}

main aside {
  width: 23%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

main aside h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

main aside p {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

/* Footer styles */
footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #999;
}


  @media only screen and (max-width: 414px) {
    header h1 {
      font-size: 1.5rem;
    }
    
    nav ul {
      flex-direction: column;
      margin-top: 0.5rem;
      }
      
      nav li {
      margin-left: 0;
      margin-bottom: 0.5rem;
      }
    
    main {
      flex-direction: column;
    }
    
    section {
      margin-right: 0;
      margin-bottom: 2
    }
    article {
      margin-bottom: 2rem;
      border-bottom: 0px;
      
    }
    nav a {
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
    nav ul li {
      border-right: 0px solid rgb(0, 0, 0);
      padding: 0 10px;
    }
  
    nav ul li:last-child {
      border-right: none;
    }
    section {
      padding: 40px;
      flex: 3;
      margin-right: .5rem;
    }
  }
