 
html { 
  background-color: rgb(255, 255, 255);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a custom font for the entire page */
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the header */
header {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}


#Backgroundlogo {
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

#Logoimg {
  height: 100px;
  width: 100px;
}
/* Style the logo */
header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Style the navigation menu */
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  content: center;
  padding:5px;
  transition: transform 0.3s ease-in-out;
  display: flex;

}
nav li:hover {
  transform: translateY(-2px);
}

nav a {
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  padding: 2px;
}

nav a:hover {
  color: #000000;
  
}
  
/* Style the main content section */
main {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 1200px;
  margin-top: 10%;
}

/* Style the latest posts section */
section {
  flex: 3;
  margin-right: 2rem;
}

section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

article {
  border: 3px solid rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 1rem;
}

article h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

article p {
  line-height: 1.5;
}

article a {
  border: 3px solid rgb(0, 0, 0);
  color: #000000;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}

article a:hover {
  color: #000000;
    background-color: rgb(255, 255, 255);
    transform: translateY(-4px);
    border: 2px solid #000000;
  
}

/* Style the about me section */
aside {
  flex: 1;
  background-color: #f2f2f2;
  padding: .5rem;
}

aside h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

aside p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Style the footer */
footer {
  background-color: #111;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
}

#postimg {
  height: 150px;
  width: auto;
  border-radius: 5px;
  border-color: #000000;
  border-width: 5px;
  box-shadow: 0 0 2px
}

#LatestPosts {
  border-color: #000000;
  border-width: 5px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 10px;

}
  /* Add this media query for smaller screens */
@media only screen and (max-width: 600px) {
  /* Adjust the header width and padding */
  header {
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
  }
  
  /* Adjust the navigation menu for smaller screens */
  nav ul {
    width: 100%;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  
  nav li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  
  /* Adjust the main content layout */
  main {
    flex-direction: column;
  }
  
  section {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  
  article {
    margin-bottom: 2rem;
    border-bottom: 0px;
  }
  
  /* Adjust navigation links */
  nav a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  nav ul li {
    border-right: 0px solid rgb(0, 0, 0);
    padding: 0 10px;
  }

  nav ul li:last-child {
    border-right: none;
  }
}
