/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a custom font for the entire page */
body {
  font-family: "Andale Mono",arial ;
  background-color: rgb(243, 243, 243);
}

/* Style the header */
header {
  width: 1300px;
  background-color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  color: #000000;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  box-shadow: 0 0 10px rgb(101, 101, 101); 
  box-sizing: border-box; /* new property */
}


/* Style the logo */
header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Style the navigation menu */
nav ul li {
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  padding:  10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
}

nav ul li:hover {
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(101, 101, 101);
    transform: translateY(-4px);
}

nav ul li:last-child {
  border-right: none;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: #000000;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

#rick {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff ;
  
}
#rick:hover {
  color: #676767;
}
/* Style the main content section */
main {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 1200px;
}

/* Style the latest posts section */
section {
  flex: 3;
  margin-right: 2rem;
}

section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

article {
  border: 3px solid rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 1rem;
}

article h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

article p {
  line-height: 1.5;
}

article a {
  border: 3px solid rgb(0, 0, 0);
  color: #000000;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}

article a:hover {
  color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(101, 101, 101);
    transform: translateY(-4px);
  
}

/* Style the about me section */
aside {
  flex: 1;
  background-color: #f2f2f2;
  padding: .5rem;
}

aside h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

aside p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Style the footer */
footer {
  background-color: #111;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
}

#postimg {
  height: 150px;
  width: auto;
  border-radius: 5px;
  border-color: #000000;
  border-width: 5px;
  box-shadow: 0 0 2px rgba(101, 101, 101, 1); 
}

#LatestPosts {
  border-color: #000000;
  border-width: 5px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(101, 101, 101, 1); 

}
  @media only screen and (max-width: 600px) {
    header h1 {
      width: 100%;
      font-size: auto;
    }
    
    nav ul {
      width: 100%;
      flex-direction: column;
      margin-top: 0.5rem;
      }
      
      nav li {
      margin-left: 0;
      margin-bottom: 0.5rem;
      }
    
    main {
      flex-direction: column;
    }
    
    section {
      margin-right: 0;
      margin-bottom: 2
    }
    article {
      margin-bottom: 2rem;
      border-bottom: 0px;
      
    }
    nav a {
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
    nav ul li {
      border-right: 0px solid rgb(0, 0, 0);
      padding: 0 10px;
    }
  
    nav ul li:last-child {
      border-right: none;
    }
    section {
      padding: 40px;
      flex: 3;
      margin-right: .5rem;
    }
  }
