/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set a custom font for the entire page */
  body {
    font-family: Andale Mono;
  }
  
  /* Style the header */
  header {
    background-color: #111;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }
  
  /* Style the logo */
  header h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  /* Style the navigation menu */
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-left: 100%;

  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #a7c957;
  }
  /* Style the article */
  article {
    margin-top: 2rem;
    margin-bottom: 2rem;

  }
  
  article p {
    line-height: 1.5;
    margin: auto;
    background-color: rgb(143, 143, 143);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 300px rgba(124, 122, 122, 0.5); 
    padding: 8px;
    border-radius: 15px;
    
   
  }

  #BigImg {
    height: 800px ;
    width: auto;
    max-width: calc(100vw);
    padding: 25px;
    display: block;
    border-radius: 20px;
    border-width: 10px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 0 0 300px rgba(0, 0, 0, 0.5);
    margin: auto;
  }
  
  @media only screen and (max-width: 600px) and (min-width: 320px) {
    header {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      }
      
      header h1 {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      }
      
      nav ul {
      flex-direction: column;
      margin-top: 0.5rem;
      }
      
      nav li {
      margin-left: 0;
      margin-bottom: 0.5rem;
      }
      
      /* Adjust image styles for smaller screens */
      #BigImg {
      height: auto;
      width: 100%;
      max-width: 100%;
      padding: 2px;
        display: block;
        border-radius: 20px;
        border-width: 5px;
        border-color: #fff;
        border-style: solid;
        box-shadow: 0 0 300px rgba(0, 0, 0, 0.5);
        margin: auto;
      }
    /* Adjust styles for screens between 320px and 600px wide */
  }
 
